spring:
  config:
    activate:
      on-profile: dev
    import: classpath:sentry/sentry-develop.yaml

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://chodanalba-dev.cluster-cwxl2zqlkmdd.ap-northeast-2.rds.amazonaws.com/chodan_dev_v2?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&sendFractionalSeconds=false
    username: admin
    password: 4S9B7vO5AHCK3UfMr8h8
    # 슬로우쿼리 시간 임계치 -> HikariCP leak 확인 ! (ms)
    hikari:
      leak-detection-threshold: 2000
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.jdbc:
        time_zone: Asia/Seoul
      default_batch_fetch_size: 1000 #최적화 옵션
    open-in-view: false
  jwt:
    header: Authorization
    secretKey: bIVQBDIis9GqVow_0Wuls-Ukm8yY6LHqeybPYoVxdwo
  url:
    base: https://api-dev.chodan.co.kr

# Config 설정
decorator:
  datasource:
    p6spy:
      enable-logging: false

springdoc:
  swagger-ui:
    doc-expansion: none
    tags-sorter: alpha
    operations-sorter: method
  override-with-generic-response: false # swagger 기본 응답 false

logging:
  level:
    root: info
    com.restApi.restApiSpringBootApp: DEBUG
    # HikariCP가 관리하는 Pool의 상태와 Connection 활성화 여부 추적
    com.zaxxer.hikari.HikariConfig: DEBUG
    com.zaxxer.hikari: TRACE
    org.springframework: WARN
    hama.chodan.chodanjavaapi.global.config.aop: DEBUG # AOP 로그 설정
    hama.chodan.chodanjavaapi.global.advice.exception: DEBUG # ExceptionAdvice 로그 설정
  file:
    name: /var/www/log/tteokbokki-api.log
