spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://chodanalba-prod-instance-1.cwxl2zqlkmdd.ap-northeast-2.rds.amazonaws.com/chodan?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&sendFractionalSeconds=false
    username: admin
    password: 1LMo40y43pTF2Bi
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.jdbc:
        time_zone: Asia/Seoul
      default_batch_fetch_size: 1000 #최적화 옵션
    open-in-view: false
  jwt:
    header: Authorization
    secretKey: bIVQBDIis9GqVow_0Wuls-Ukm8yY6LHqeybPYoVxdwo
  url:
    base: https://api-prod.chodan.co.kr

# Config 설정
decorator:
  datasource:
    p6spy:
      enable-logging: false

springdoc:
  swagger-ui:
    doc-expansion: none
    tags-sorter: alpha
    operations-sorter: method
  override-with-generic-response: false # swagger 기본 응답 false

logging:
  level:
    root: info
    com.restApi.restApiSpringBootApp: debug
    org.springframework: WARN
    hama.chodan.chodanjavaapi.global.config.aop: debug # AOP 로그 설정
    hama.chodan.chodanjavaapi.global.advice.exception: debug # ExceptionAdvice 로그 설정
  file:
    name: /var/www/log/tteokbokki-api.log